// Variable
$featureColor: #2c3e50;
$featureImageBorder: #00bc77;

// Features component
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 40px 20px;
    margin: auto;
    max-width: 340px;
    height: 270px;
    text-align: center;
    color: $featureColor;

    &__image {
        margin-bottom: 20px;
        padding: 1rem;
        width: 100px;
        border: 10px solid $featureImageBorder;
        border-radius: 50%;
    }

    &__main-text {
        margin-bottom: 16px;
        font-size: 21px;
    }

    &__secondary-text {
        font-size: 15px;
    }
}