// Variables
$connectionBackground: #12002b;
$connectionColor: #2c3e50;
$connectionFormBackground: #FFFFFF;
$connectionFormSubmitButtonBackground: #00bc77;
$connectionFormSubmitButtonColor: #FFFFFF;
$connectionFormErrorColor: #FF0000;     

// Connection page component
.connection {
    padding: 40px 0 40px 0;
    background-color: $connectionBackground;
    color: $connectionColor;

    &__form {
        border: 2px solid orange;
        margin: auto;
        padding: 40px;
        width: 250px;
        height: 350px;
        background-color: $connectionFormBackground;

        &__icon {
            border: 2px solid blue;
            width: 100%;
            font-size: 19px;
            text-align: center;
        }

        &__title {
            border: 2px solid red;
            text-align: center;
            font-size: 25px;
        }

        &__input-username {
            margin: auto;
            margin-bottom: 20px;
        }

        &__input-container {
            display: flex;
            margin-top: 20px;
            width: 100%;
            border: 2px solid red;

            &__input-checkbox {
                margin-right: 5px;
            }
        }

        &__submit-button {
            display: block;
            margin-top: 20px;
            width: 100%;
            padding: 9px;
            font-size: 18px;
            font-weight: bold;
            background-color: $connectionFormSubmitButtonBackground;
            color: $connectionFormSubmitButtonColor;
            border: none;
            cursor: pointer;

            &__text {
                text-decoration: underline;
            }
        }

        &__error {
            margin-top: 20px;
            font-weight: bold;
            color: $connectionFormErrorColor;
        }
    }
}

// Factored
.connection-label {
    font-weight: bold;
}
.connection-input-text {
    width: 100%;
    padding: 5px;
}
.connexion-display-none {
    display: none;
}