// Variables
$heroDescriptionColor: #2c3e50;
$heroDescriptionBackground: #FFFFFF;

/* Home page */
.hero {
    position: relative;

    &__image {
        display: flex;
        height: 400px;
        object-fit: cover;
        object-position: 0 -145px;
    }

    &__description {
        position: absolute;
        top: 50px;
        right: 50px;
        margin: 2rem;
        padding: 2rem;
        width: 300px;
        color: $heroDescriptionColor;
        background-color: $heroDescriptionBackground;

        &__informations {
            font-size: 24px;
            font-weight: bold;

            &__line-break {
                display: block;
            }
        }

        &__catch-phrase {
            margin: 0;
            margin-top: 20px;
            font-size: 19px;
            font-weight: normal;
        }
    }
}

/* Container of Features component */
.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Tablet display */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Home page */
    .hero {

        &__image {
            object-position: 0 -100px;
        }
    }
    
    /* Container of Features component */
    .features-container {
        flex-direction: column;
    }
}

/* Mobile display */
@media screen and (max-width: 767px) {
        /* Home page */
        .hero {

            &__image {
                object-position: 0 0;
            }

            &__description {
                position: absolute;
                top: 80px;
                left: 0;
                right: 0;
                margin: auto;
                padding: 2rem;
                width: 200px;
                width: 70%;
            }
        }
}