// Variables
$heroDescriptionColor: #2c3e50;
$heroDescriptionBackground: #FFFFFF;

// Home page
.hero {
    border: 2px solid orange;
    position: relative;

    &__image {
        display: flex;
        height: 400px;
        object-fit: cover;
        object-position: 0 -145px;
    }

    &__description {
        position: absolute;
        top: 50px;
        right: 50px;
        margin: 2rem;
        padding: 2rem;
        width: 300px;
        color: $heroDescriptionColor;
        background-color: $heroDescriptionBackground;

        &__informations {
            font-size: 24px;
            font-weight: bold;

            &__line-break {
                display: block;
            }
        }

        &__catch-phrase {
            margin: 0;
            margin-top: 20px;
            font-size: 19px;
            font-weight: normal;
        }
    }
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}