// Variables
$UserBackground: #12002b;
$userTitileColor: #FFFFFF;
$userButtonBorder: #00bc77;
$userButtonBackground: #00bc77;
$userButtonColor: #fff;

// User componant page
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
    background-color: $UserBackground;

    &__main-title {
        border: 2px solid red;
        margin: 0;
        text-align: center;
        color: $userTitileColor;

        &__text {
            display: block;
        }   
    }

    &__button {
        margin: 20px 0 20px 0;
        border-color: $userButtonBorder;
        background-color: $userButtonBackground;
        color: $userButtonColor;
        font-weight: bold;
        font-size: 14px;
        padding: 10px;
    }
}