// Variable
$headerSignInColor: #2c3e50;

// Header component
.main-navigation {
    border: 2px solid purple;

    &__ul {
        border: 2px solid blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;

        &__logo {
            width: 200px;
            max-width: 100%;
            cursor: pointer;
        }

        &__sign-in {
            border: 2px solid red;
            color: $headerSignInColor;
            font-weight: bold;
            
            &__container {
                display: inline-block;
                margin-left: 10px;
                cursor: pointer;
                
                &:hover {
                    text-decoration: underline;
                }

                &__icon {
                    padding-right: 5px;
                    font-size: 18px;
                }
            }
        }
    }
}