// Variable
$headerSignInColor: #2c3e50;

// Header component
.main-navigation {

    &__ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;

        &__logo {
            width: 200px;
            max-width: 100%;
            cursor: pointer;
        }

        &__sign-in {
            color: $headerSignInColor;
            font-weight: bold;
            
            &__container {
                display: inline-block;
                margin-left: 10px;
                cursor: pointer;
                
                &:hover {
                    text-decoration: underline;
                }

                &__icon {
                    padding-right: 5px;
                    font-size: 18px;
                }
            }
        }
    }
}

/* Mobile display */
@media screen and (max-width: 767px) {
    .main-navigation {
        &__ul {

            &__sign-in {
                
                &__container {

                    &__text {
                        display: none;
                    }
                }
            }
        }
    }
}